.container {
  padding: 20px;
}

.container-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.container-spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background:#ebebeb ;
}

table {
  width: 100%;
}
